html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Libre Baskerville';
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

/* Scroll modificado */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Mixin para simplificar la colocación de los elementos en la grilla */
        
@mixin ubicarElemento($columnaInicio, $columnaFinal, $filaInicio, $filaFinal){
    grid-column: #{$columnaInicio}/#{$columnaFinal};
    grid-row: #{$filaInicio}/#{$filaFinal};
}


/* DESKTOP */


@media only screen and (min-width: 992px) {


    .contenedor {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 55% 30% 150px;
        grid-template-areas: "header header header header header header header header header "
            "main main main main main main main main main "
            "section section section section section section section section section "
            "footer footer footer footer footer footer footer footer footer ";
    }


    /* HEADER */


    .header {
        grid-area: header;
        display: grid;
        grid-template-areas: ". nav1 nav1 nav1 logo nav2 nav2 nav2 .";
        .nav1 {
            grid-area: nav1;
            .nav1__menu {
                margin: 0;
                padding: 0;
                height: 100%;
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                .nav1__item {
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 19px;
                    border-top: double white;
                    border-bottom: double white;
                    &:hover{
                        animation: pulse;
                        animation-duration: 2s;
                    }
                }
            }
        }

        .nav2 {
            grid-area: nav2;
            .nav2__menu {
                margin: 0;
                padding: 0;
                height: 100%;
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                .nav2__item {
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 19px;
                    border-top: double white;
                    border-bottom: double white;
                    &:hover{
                        animation: pulse;
                        animation-duration: 2s;
                    }
                }
            }
        }

        .logo {
            grid-area: logo;
            display: flex;
            height: 150px;
            justify-content: center;
            &:hover {
                animation: flip;
                animation-duration: 1s;
            }
            .logo__imagen {
                width: 150px;
                height: 150px;
            }
        }
    }


    /* FOOTER */


    .footer {
        height: 154px;
        grid-area: footer;
        display: grid;
        background: rgb(0,0,0);
        grid-template-areas: "minimenu minimenu minimenu footercentro footercentro footercentro redes redes redes";
        .footerIzq {
            grid-area: minimenu;
            display: flex;
            align-items: center;
            line-height: 28px;
            color: white;
            .footerIzq__menu {
                margin: 0;
                padding: 0;
                max-height: 100%;
                padding-left: 20px;
                list-style-type: none;
                color: white;
            }
        }

        .footerCentro {
            grid-area: footercentro;
            display: flex;
            justify-content: center;
            .footerCentro__logo {
                width: 150px;
                height: 150px;
                &:hover {
                    transition: 1s;
                    transform: scale(1.2, 1.2);
                }
            }
        }

        .footerDer {
            grid-area: redes;
            display: flex;
            justify-content: flex-end;
            .footerDer__redes {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-self: center;
                line-height: 28px;
                padding-right: 20px;
                list-style-type: none;
                color: white;
                font-size: 25px;
                li{
                    padding-bottom: 7px;
                }
            }
        }
    }


    /* INDEX */ 

    
    .contenidoPrincipal {
        grid-area: main;
        width: 100%;
        margin: 0 auto;
        height: 900px;
        background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(img/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 70% 15% 15%;
        grid-template-areas: ". . ."
            ". titulo ."
            ". subtitulo .";
        
        .contenidoPrincipal__titulo {
            grid-area: titulo;
            color: white;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
        }

        .contenidoPrincipal__subtitulo {
            grid-area: subtitulo;
            color: white;
            display: flex;
            justify-content: center;
            font-weight: 100;
        }
    }


    
    .section {
        width: 100%;
        margin: 0 auto;
        grid-area: section;
        display: grid;
        grid-template-areas: "section1 section1 section1 section2 section2 section2 section3 section3 section3";
        & h2:hover {
            animation: pulse;
            animation-duration: 0.5s;
        }

        /* Connjunto de estilos para los sections */

        %section{
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }
    
        %sectionImg{
            width: 100%;
            height: 100%;
        }
    
        %sectionTxt{
            background: linear-gradient(rgba(16, 16, 16, .5), rgba(16, 16, 16, .5));
            position: absolute;
            color: white;
            padding: 15px 15px 15px 15px;
            font-size: 35px;
            border: 2px solid white;
            border-radius: 15px;
            font-weight: 200;
        }
        
        .section1 {
            grid-area: section1;
            @extend %section;

            .section1__imagen {
                @extend %sectionImg;
            }

            .section1__texto {
                @extend %sectionTxt;
            }

        }

        .section2 {
            grid-area: section2;
            @extend %section;
            .section2__imagen {
                @extend %sectionImg;
            }
            .section2__texto {
                @extend %sectionTxt;
            }
            
        }

        .section3 {
            grid-area: section3;
            @extend %section;
            .section3__imagen {
                @extend %sectionImg;
            }
            .section3__texto {
                @extend %sectionTxt;
            }
            
        }
    }
    
    /* NOSOTROS */

    .contenidoNosotros {
        grid-area: main;
        width: 100%;
        margin: 0 auto;
        height: 900px;
        background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(img/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        grid-template-columns: 5% 25% 5% 60% 5%;
        grid-template-rows: 15% 70% 150px;
        .contenidoNosotros__textos{
            @include ubicarElemento(2,3,2,3);
            color: white;
            line-height: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            h1{
                display: flex;
                align-self: flex-start;
                padding-top: 30px;
            }
            h3{
                display: flex;
                padding-top: 60px;
                align-content: center;
            }
        }

        .contenidoNosotros__imagen{
            @include ubicarElemento(4,5,2,3);
            background-color: whitesmoke;
            width: 100%;
            .imagenNosotros{
                width: 100%;
                height: 100%;
            }
        }


        
    }

    

    /* BURGERS */

    .contenidoBurgers {
        grid-area: main;
        width: 100%;
        margin: 0 auto;
        height: 900px;
        background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(img/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        grid-template-rows: 12.5% 2.5% 70% 5% 10%;
        grid-template-columns: 2% 30% 3% 30% 3% 30% 2%;
        .contenidoBurgers__titulo {
            grid-column: 2/7;
            grid-row: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 30px;
            letter-spacing: 10px;
        }

        .subtituloBurger {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-self: center;
            color: white;
            font-size: 30px;
            font-weight: lighter;
            letter-spacing: 5px;
        }

        .imagenesBurgers {
            width: 100%;
            height: 100%;
        }

        figure{
            position: relative;
            figcaption{
                display: none;
                transition: all 0.3s;
                position: absolute;
                background-color: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8));
                width: 100%;
                top: 30%;
                overflow: hidden;
                ul{
                    background: linear-gradient(rgba(16, 16, 16, .5), rgba(16, 16, 16, .5));
                    padding: 15px 15px 15px 15px;
                    font-size: 20px;
                    border: 1px solid white;
                    border-radius: 15px;
                    font-weight: 200;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
        &:hover figcaption{
            display: block;
            color: white;
        }

        }

        
        .stacker {
            @include ubicarElemento(2,3,3,4);
            .stackerSub {
                @include ubicarElemento(2,3,4,5);
            }
        }

        .classic {
            @include ubicarElemento(4,5,3,4);
            .classicSub {
                @include ubicarElemento(4,5,4,5);
            }
        }

        .sweet {
            @include ubicarElemento(6,7,3,4);
            .sweetSub {
                @include ubicarElemento(6,7,4,5);
            }
        }
    }


    /* PROMOS */

    .contenidoPromos{
        grid-area: main;
        width: 100%;
        margin: 0 auto;
        height: 700px;
        background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(img/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        grid-template-rows: 12.5% 2.5% 70% 5% 10%;
        grid-template-columns: 10% 35% 10% 35% 10%;
        .contenidoPromos__titulo{
            grid-column: 2/5;
            grid-row: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 30px;
            letter-spacing: 10px;

        }
        .imagenesPromo{
            width: 100%;
            height: 100%;
        }
        .subPromo{
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-self: center;
            color: white;
            font-size: 30px;
            font-weight: lighter;
            letter-spacing: 5px;

        }
        .contenidoPromos__promoUno{
            @include ubicarElemento(2,3,3,4);
        }
        .contenidoPromos__promoUnoSub{
            @include ubicarElemento(2,3,4,5);
        }
        .contenidoPromos__promoDos{
            @include ubicarElemento(4,5,3,4);
        }
        .contenidoPromos__promoDosSub{
            @include ubicarElemento(4,5,4,5);
        }
    }


    /* CONTACTO Y PEDÍ ONLINE*/

    .contenidoFormulario{
        grid-area: main;
        width: 100%;
        margin: 0 auto;
        height: 750px;
        background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8)), url(img/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contenidoFormulario__titulo{
            grid-column: 2/5;
            grid-row: 1;
            padding-top: 10px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 20px;
            letter-spacing: 10px;

        }
        .formulario{
            padding-top: 50px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            line-height: 40px;
        }

        .formularioStyle{
            padding: 10px 10px 10px 10px;
            background: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .8));
        }
    }

}